<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cilindro"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/cilindro"
        android:supportsRtl="true"
        android:theme="@style/Theme.DistribuidoraGas"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".administrador.ReporteVentas"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".administrador.ListaRepartidores"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".administrador.NuevoRepartidor"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".administrador.ListaClientes"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".administrador.ConfigNuevo"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".administrador.ConfigLista"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".administrador.MainActivityAdministrador"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD78RUY7KyrZzZ-aW1bZ2GU0u8HeUedO2Y" />

        <activity
            android:name=".cliente.MapsCliente"
            android:exported="false"
            android:label="@string/title_activity_maps_cliente" />
        <activity
            android:name=".repartidor.DetallePedido"
            android:exported="false" />
        <activity
            android:name=".repartidor.Pedidos"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".repartidor.PerfilRepartidor"
            android:exported="false" />
        <activity
            android:name=".repartidor.MainActivityRepartidor"
            android:exported="false" />
        <activity
            android:name=".repartidor.MapsRepartidor"
            android:exported="false" />
        <activity
            android:name=".cliente.GenerarPedido"
            android:exported="false" />
        <activity
            android:name=".RecuperarClave"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cliente.MainActivity"
            android:exported="true" />
        <activity
            android:name=".registrar"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>